<form [formGroup]="loginForm" (submit)="logIn()" class="form text-center p-5">
    <h3 class="title bold">Login</h3>

    <div class="text-start">
        <div class="py-2 form-group text-start">
            <label class="form-label subtitle bold" for="email">
                Email <span class="text-danger">*</span>
            </label>
            <input
                class="form-control"
                type="email"
                name="email"
                id="email"
                placeholder="name@email.com"
                formControlName="email"
                required
            />
            <app-message
                *ngIf="
                    loginForm.get('email')?.errors?.['required'] &&
                    loginForm.get('email')?.touched"
                message="Type your e-mail"
            ></app-message>
            <app-message
                message="Type a valid e-mail"
                *ngIf="loginForm.get('email')?.errors?.['email'] &&
                       loginForm.get('email')?.touched"
            ></app-message>
        </div>

        <div class="py-2 form-group">
            <label class="form-label subtitle bold" for="password">
                Password <span class="text-danger">*</span>
            </label>
            <input
                class="form-control"
                type="password"
                name="password"
                id="password"
                placeholder="your password"
                formControlName="password"
                required
            />
            <app-message
                message="Type your password"
                *ngIf="loginForm.get('password')?.errors?.['required'] &&
                       loginForm.get('password')?.touched"
            ></app-message>
        </div>

        <div class="col">
            <small [routerLink]="['/recover-password']" class="underline link">
                I forgot my password
            </small>
        </div>

        <div class="pt-2 col">
            <small [routerLink]="['signup']" class="underline link">
                Create an account
            </small>
        </div>

        <div class="pt-4 row">
            <button
                [disabled]="loginForm.invalid"
                type="submit"
                class="btn-light rounded w-100"
            >
                continue
            </button>
        </div>
    </div>
</form>
