<div style="width: 100vw; height: 100vh" class="position-relative">
    <div
        style="max-width: 400px"
        class="container position-absolute bg-body-tertiary rounded shadow-lg start-50 top-50 translate-middle"
    >
        <div class="text-center">
            <h3 class="title bold">Login</h3>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" name="email" placeholder="type your email" />
            </div>
        </div>
    </div>
</div>
