/* You can add global styles to this file, and also import other style files */
* {
    font-family: "Montserrat", sans-serif;
    background-color: #f3f2f6;
    color: #373142;
}

.title {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
}

.subtitle {
    font-family: "Raleway", sans-serif;
}

.light {
    font-weight: 200;
}
