/* You can add global styles to this file, and also import other style files */
* {
    font-family: "Montserrat", sans-serif;
    color: #3c334e;
    background-color: #f3f2f6;
}

.ef-bg {
    background-color: #f3f2f6;
}

.title {
    font-family: "Poppins", sans-serif;
}

.subtitle {
    font-family: "Raleway", sans-serif;
}

.light {
    font-weight: 200;
}

.bold {
    font-weight: bold;
}

.link {
    text-decoration: none;
    color: #8d7bad;
    cursor: pointer;
}

.underline {
    text-decoration: underline;
}

.btn-light {
    border-color: transparent;
    background-color: #776891;
    color: white;
}

.invalid-input {
    border-color: inherit;
}

.invalid-input {
    border-color: red;
}
